CompileFlags:
    CompilationDatabase: build
    Compiler: /usr/bin/clang++
    Add:
        - --cuda-path=/usr/local/cuda
        - --cuda-host-only
        - -DEIGEN_NO_CUDA=1
        - -D_NV_RSQRT_SPECIFIER=
        - -D__CUDA_NO_GLOBAL_OPERATOR_NEW__
        - -DBENCHMARK_STATIC_DEFINE
        - -Iwork1/core/include
        - -Ibuild/_deps/eigen-src
        - -Ibuild/_deps/benchmark-src/include
        - -Ibuild/_deps/googletest-src/googletest/include
        - -std=c++20
        - -Wno-unknown-cuda-version
        - -Wno-ignored-pragmas
    Remove:
        - -forward-unknown-to-host-compiler
        - --generate-code=*
        - -arch=*
        - -Xcompiler=*
        - -rdc=*
        - -Wno-deprecated-gpu-targets
        - --expt-relaxed-constexpr
        - -fdeps-format=*
        - -static-global-template-stub=*
        - --expt-relaxed-constexpr
        - --cuda-gpu-arch=*
        - -xcuda

Diagnostics:
    Suppress:
        - ovl_no_viable_function_in_call
        - ref_bad_target
